---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>about</h1>
		<a href="../">index</a>
		<p>段落</p>
		<ul><li>リスト1</li><li>リスト2<ul><li>入れ子</li></ul></li></ul>
	</body>
</html>
