---

---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<link rel="icon" href="/favicon.ico" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Astro</title>
	</head>
	<body>
		<h1>blog</h1>
		<a href="../">index</a>
		<h2>記事リスト</h2>
		<ul>
		<li><a href="../posts/post-1/">post-1</a></li>
		<li><a href="../posts/post-2/">post-2</a></li>
		<li><a href="../posts/post-3/">post-3</a></li>
	</body>
</html>
